<!DOCTYPE html>
<html>
<head>
	<title>
		Map Viewer
	</title>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>

<div id="map"></div>
<script type="text/javascript" src="/js/viewer.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMLu5iKj3PoTuLlpaU0YvIWsAMijEFj3s&callback=initMap"></script>
<h1>The Tracker view and whatnot...</h1>
</body>
</html>